/* :root {
  --bg: #ffffff;
  --green-line: #c6e70d8e;
  --max-width: 1440px;
  --content-width: 1238px;
} */

@font-face {
  font-family: "Saira-Regular";
  src: url("./assets/fonts/Saira_Condensed-Regular.ttf");
}

@font-face {
  font-family: "Saira-Bold";
  src: url("./assets/fonts/Saira_Condensed-Bold.ttf");
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: 1920px;
  font-family: "Saira-Regular";
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1920px;
}

h1 {
  margin: 0;
}

hr {
  border: none;
  background-color: rgb(8, 92, 92);
  height: 3px;
  width: 80%;
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 40px;
}

/* #MyProSkills,
#PersonalSkills,
#Education,
#Courses,
#Code,
#MyProject,
#Language,
#Contacts {
  font-family: "RobotoSlab";
  font-size: 30px;
  color: rgb(8, 92, 92);
  margin: 0;
} */

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(20 187 187);
}

a:hover {
  text-decoration: underline;
  color: rgb(15, 206, 206);
}

/*--------header-----------*/

.header {
  background: #c6e70d8e;
  box-shadow: 0px 4px 12px rgba(13, 96, 111, 0.5);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 40px;
}

.header-navigation-wrapper {
  display: flex;
  cursor: pointer;
  gap: 20px;
}

/*----------main----------*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*--------about-me--------*/

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;
  color: rgb(8, 92, 92);
  text-align: center;
}

.photo {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px rgba(13, 96, 111, 0.5);
  width: 350px;
}

.photo img {
  width: 100%;
}

.text {
  text-align: center;
  font-family: "RobotoSlab";
  font-size: 25px;
  text-decoration: none;
  color: rgb(8, 92, 92);
}

.line {
  height: 3px;
  width: 90%;
  background: var(--green-line);
  box-shadow: 0px 0px 12px 2px rgb(13 96 111 / 50%);
}

/*----------skills---------*/

.skills {
}

/*--------footer------*/

.footer {
  background-color: #c6e70d8e;
  box-shadow: 0px 3px 12px 5px rgb(13 96 111 / 50%);
}

.footer-wrapper {
  margin: 15px 40px;
}

.footer-first-line,
.footer-second-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-wrapper {
  display: flex;
  gap: 30px;
}

.footer-social-wrapper > ul {
  margin: 0;
}

.social-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid #000;
  border-radius: 50%;
  gap: 25px;
}

.social-circle a {
  width: 24px;
  height: 24px;
}
